* {
    margin: 0;
    padding: 0;
}

.scroll {
    overflow: auto;
    white-space: nowrap;
}

.validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}
